# Apotheosis Spawner Module Configuration

general {
    # The level of silk touch needed to harvest a spawner. -1 to disable, 0 to always drop.
    I:"Spawner Silk Level"=1
    # The durability damage dealt to an item that silk touches a spawner.
    I:"Spawner Silk Damage"=100
}

spawn_eggs {
    # A list of entity registry names that cannot be applied to spawners via egg.
    S:"Banned Mobs" <
     >
}
