# Apotheosis Module Control
# Changes will have no effect until the next game restart.

general {
    # Enable Deadly Module — boss monsters, rogue spawners, affix loot, death traps
    # Default: true
    B:"Enable Deadly Module"=true
    B:"Enable Enchantment Module"=true
    B:"Enable Adventure Module"=true
    B:"Enable Spawner Module"=true
    B:"Enable Potion Module"=true
    B:"Enable Village Module"=true
    B:"Enable Garden Module"=false
    B:"Give Book on First Join"=true
}
